{% extends 'base.html' %}
{% load static %}

{% block content %}
{% load crispy_forms_tags %}


<div class="row">
  <div class="col-md-4 offset-md-4">
      <h3> Reset your Password</h3>
      <p>Check your Email address for a link to reset your password</p>
    <form method="POST" action""  novalidate>
      {% csrf_token %} 
      {{form | crispy }}
       
    <a class="btn btn-primary" href ="{% url 'login' %}" >Return to Login</a>
    </form>
  </div>
</div>
{% endblock content %}