{% extends 'base.html' %} 
{% load static %} 
{% block content %} 
{% load crispy_forms_tags %}

<h3 align="center">Password Changed</h3>

<div class="row">
  <div class="col-md-4 offset-md-4">
    <form method="POST" novalidate>
      {% csrf_token %} {{form | crispy }}

      <div class="alert alert-success" role="alert">
        You have successfully change password!You may now proceed to login
      </div>

      <a class="btn btn-primary" href="{% url 'login' %}">Return to Login</a>
    </form>
  </div>
</div>
{% endblock content %}
